/* import the style */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    list-style: none;
    color: white;
    text-decoration: none;
    
}

body {
    background-color: #ee5253;
}

/* styling for header */
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .header-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header .header-content .logo {
    font-size: 1.2rem;
    font-weight: 800;
}

header .header-content .navbar ul {
    display: flex;
    flex-direction: row;

}

header .header-content .navbar ul li {
    margin-left: 40px;
}

header .header-content .navbar ul a {
    transition: all .3s ease-in-out;
}
header .header-content .navbar ul a:hover {
    opacity: .8;

}

/* styling for page container */
.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .content {
    width: 60%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

    /* styling for lift side 'text content' */
.container .content .left-side {
    width: 70vw;
}

.container .content .left-side h2 {
    font-size: 5rem;
    font-weight: 700;
    font: bold;
    margin: 5px 0;
}

.container .content .left-side p {
    font-size: 1rem;
    font-weight: 500;
    opacity: .95;
}

.container .content .left-side button {
    color: black;
    background-color: white;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.container .content .left-side button:hover {
    opacity: .95;
}
.container .content .left-side button:active {
    transform: scale(.95);
}

    /* styling for right side 'image' */
.container .content .right-side {
    width: 500px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .content .right-side img {
    width: 100%;
    transform: translateY(-1);
    animation: Ghost-animation 3s infinite alternate;
}

.container .content .right-side__shadow {
    margin-top: 30px;
    border-radius: 50%;
    font-size: 2rem;
    width: 200px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(4px);
    transform: translateY(10px);
    animation: Sahdow-animation 3s infinite alternate;

}



/* styling for footer */
.footer {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
}
.footer p {
    margin: 0 15px;
    font-size: 1.1rem;
    font-weight: 700;
}
.footer a {
    font-size: .9rem;
    opacity: .9;
    transition: all .3s ease-in-out;
}
footer a:hover {
    opacity: 1;
}



/* create animation */
    /* animation for ghost */
@keyframes Ghost-animation {
    0% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(10px);
    }
}
    /* animation for Shadow */
@keyframes Sahdow-animation {
    0% {
        width: 200px;
        transform: translateY(10px);
    }
    100% {
        width: 120px;
        transform: translateY(-1px);
    }
}


/* create Media Queries */
@media only screen and (max-width: 900px) { /* Down 900px */
    /* styling for header */
    header .header-content {
        width: 90%;
    }

    /* styling for page container */
    .container .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        /* styling for lift side 'text content' */
    .container .content .left-side {
        width: 100vw;
        text-align: center;
    }

        /* styling for right side 'image' */
    .container .content .right-side {
        margin-right: 0;
        margin-top: 100px;
    }

    .container .content .right-side img {
        width: 300px;
    }


    /* animation for Shadow */
    @keyframes Sahdow-animation {
        0% {
            width: 150px;
            transform: translateY(10px);
        }
        100% {
            width: 100px;
            transform: translateY(-1px);
        }
    }

}


@media only screen and (max-width: 600px) { /* Down 600px */

    header .header-content .navbar ul li {
        margin-left: 20px;
    }

    /* styling for lift side 'text content' */
    .container .content .left-side h2 {
        font-size: 3rem;
    }

    /* styling for right side 'image' */
    .container .content .right-side {
        margin-top: 80px;
    }

    .container .content .right-side img {
        width: 150px;
    }


    /* animation for Shadow */
    @keyframes Sahdow-animation {
        0% {
            width: 120px;
            transform: translateY(10px);
        }
        100% {
            width: 80px;
            transform: translateY(-1px);
        }
    }
}